.container {
  margin-bottom: 50px;
  .top {
    background-color: #C8B496;
    padding: 1.5em 1.5em 1.7em 2.4em;

    .table {
      display: flex;
      align-items: center;

      .table-name {
        color: white;
        text-transform: uppercase;
        margin-bottom: 0;
        display: inline-block;
        margin-bottom: 0;
        margin-right: 10px;
        font-size: 20px;
        font-weight: bold;
      }

      .line {
        background-color: white;
        display: inline-block;
        width: 70%;
        height: 1.5px;
      }
    }

    .customer {
      .customer-name {
        font-size: 13px;
        margin-top: 0.5rem;
        padding-bottom: 0.3rem;
        color: white;
        text-transform: uppercase;
        margin-bottom: 0;
      }

      input {
        width: 90%;
        background-color: transparent;
        color: #fff;
        border: 1px solid white;
        padding: 0.75rem 0.5rem;
        border-radius: 5px;
      }

      ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #fff;
      }

      :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #fff;
      }

      ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #fff;
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #fff;
      }
    }
  }

  .categories-buttons {
    padding: 15px 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #ebebeb;

    button {
      width: 22%;
      height: 85px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: white;
      font-size: 9.5px;
      border-radius: 5px;
      border: 1px solid #fff;
      &:hover {
        background: #C8B496;
      }
    }
  }

  app-order-food {
    display: flex;
    justify-content: space-around;
  }

}
