.container {
  .login {
    padding: 80px 45px;
    .title {
      text-align: center;
      margin-bottom: 55px;
      img {
        width: 100px;
        height: 100px;
      }
      .welcome-to-cono {
        font-size: 22px;
        font-weight: bold;
        margin: 10px 0;
        letter-spacing: 3px;
      }

      .helping-you-to-order-coffee {
        font-size: 13px;
        color: rgb(165, 165, 165);
        margin-top: -5px;
      }
    }

    form {
      .form-group {
        .email {
          font-size: 12px;
          font-weight: bolder;
          letter-spacing: 4px;
          margin-bottom: .5em;
        }
        .password {
          margin-top: 30px;
          @extend .email;
        }
        input {
          width: 100%;
          box-sizing: border-box;
          border: none;
          border-bottom: 1px solid rgb(184, 184, 184);
          color: rgb(165, 165, 165);
          background-size: contain;
          background-position: right;
          background-repeat: no-repeat;
          padding: 10px;
        }

        input[type=email] {
          background-image: url('../../../../assets/user-login.png');
        }

        input[type=password] {
          background-image: url('../../../../assets/key-512.png');
        }
        .invalid {
          font-size: 11px;
          color: red;
        }
        button {
          width: 100%;
          margin: 8rem 0 0 0;
          padding: 1rem 2rem;
          background-color: #422912;
          color: white;
          border-radius: 2rem;
          font-size: 17px;

        }
      }
    }
  }
}
