%grid-and-list {
  opacity: 0.5;

  &.active {
    opacity: 1;
  }
}

.display-container {
  .display-wrapper {
    display: flex;
    width: 100%;
    position: fixed;
    top: 50px;
    padding: 10px 0;
    background-color: rgba($color: #fff, $alpha: 1);

    .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 15px;
      width: 50%;
    }

    .view-mode-button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 15px;
      width: 50%;

      .grid {
        padding-right: 25px;
        @extend %grid-and-list;
      }

      .list {
        @extend %grid-and-list;
      }
    }
  }
}

.table-container {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 10px 5px;
  background-color: #fff;

  .table-wrapper {
    transition: all .3s;

    &.list-display {
      display: block;
      padding: 0 1rem;

      app-table {
        width: 100%;
        margin-right: 1rem;
      }
    }

    &.grid-display {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 1em;

      app-table {}
    }
  }
}
